*,*::before, *after{
    box-sizing: inherit;
}

#pastry_link a{
    opacity: 50%;
    border-bottom: white 1px dashed;
    border-top: white 1px dashed;
}

.title_cake{
    margin-top: 10px;
    font-size: 20pt;
    color: #8F6500;
    font-weight: bold;
}

.subtitle_cake{
    margin-bottom: -5px;
    font-size: 15pt;
    font-weight: bold;
    color: #8F6500;
    text-align: right;
}

.item_material{
    font-size: 8pt;
    color: gray;
    font-style: italic;
}

.item_description{
    margin-top: -5px;
    font-size: 12pt;
}

.item_pic{
    width: 220px;
    height: 180px;
    z-index: 99;
    position: relative;
}

.item_pic2{
    width: 220px;
    height: 180px;
    z-index: 5;
    position: absolute;
}

.pastry_main    {background-image: url(../img/pastry_main.png);}

.cheese_cake    {background-image: url(../img/pastry_1.png);}
.chocolate_cake {background-image: url(../img/pastry_2.png);}
.orange_pie     {background-image: url(../img/pastry_3.png);}
.cinnamon_roll  {background-image: url(../img/pastry_4.png);}
.macaron        {background-image: url(../img/pastry_5.png);}
.pancake        {background-image: url(../img/pastry_6.png);}

.cheese_cake2   {background-image: url(../img/pastry_1-1.png);}
.chocolate_cake2{background-image: url(../img/pastry_2-1.png);}
.orange_pie2    {background-image: url(../img/pastry_3-1.png);}
.cinnamon_roll2 {background-image: url(../img/pastry_4-1.png);}
.macaron2       {background-image: url(../img/pastry_5-1.png);}
.pancake2       {background-image: url(../img/pastry_6-1.png);}

.pic_pastry_end {
    height: 180px;
    background-image: url(../img/pastry_end.png);
    background-position: center;
}

hr{
    border-color: #8f6500;
    border-width: 1px;
}

.grid {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 60px 90px;
}
