
*,*::before, *after{
    box-sizing: inherit;
}

.default-bg-color {background-color: rgb(35, 25, 0);}
.bg-transulent-dark{ background-color: rgba(0, 0, 0, 80%); }
.default-gradient{
    background: rgb(255,236,213);
    background: linear-gradient(90deg, rgba(255,236,213,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(255,236,213,1) 100%);
}

.nav-link, .sub-pg-header p, .subtitle, .description, .table_foot_section ul h2, .table_foot_section ul li,
.subtitle_cake, .item_material, .item_description, .form label, .subtitle_coffee, .coffee_description,
.item_description, .text p, footer p, .meal-desc p, .subtitle_food{
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
}

#poster_title, .sub-pg-header h1, .title, .title_cake, .contact .title, .title_coffee, .title_campaign, .text h2,
.meal-desc h1, .title_food{
    font-family: 'Playfair Display', 'Times New Roman', serif;
}

a:hover, .table_foot_section ul li a:hover,
.hover_coffee_color:hover h2, .hover_coffee_color:hover p,
.meal-desc h1, .title, .subtitle, .title_food, .subtitle_food{
    color: #8F6500;
}

.bg-center{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.container {
    max-width: 960px;
}

.nav-link{
    font-weight: lighter;
    font-size: 9pt;
}

.nav-icon, .subscribe_us, #md-campaign-title{
    display: none;
}

.nav-icon p{
    color: #FFECD5;
    margin: 5.5px 0;
}

.nav-icon a img{
    height: 35px;
    width: 35px;
    padding: 5px;
}

.poster{
    margin: auto;
    width: 100%;
    height: 100vh;
    background-image: url(../img/top_poster1-1.png);
}

.poster img{
    height: 50px;
}

#poster_title{
    font-weight: 400;
    font-size: 52pt;
    color: #f6d3a7;
    text-align: center;
    margin-top: 150px;
}

.sub-pg-header{
    height: 240px;
    color: #FFECD5;
}

.sub-pg-header h1{
    font-size: 60pt;
}

.sub-pg-header p{
    font-size: 24pt;
}

.hover_scale:hover{
    transform: scale(1.2);
}

.box_2nd_section{
    width: calc(1/3 * 100%);
    height: calc(9/30 * 100vh);
    overflow: hidden;
    padding: 0;
}

.bg_pic_2nd_section{
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

.top_coffee {background: url(../img/top_coffee.png);}
.top_food   {background: url(../img/top_food.png);}
.top_pastry {background: url(../img/top_pastry.png);}

.text h2{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 32pt;
    color: #FFECD5;
    font-weight: 400;
}

.text p{
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 10pt;
    color: #FFECD5;
}

.campaign_bg{
    background-image: url(../img/top_campaign.png);
    background-repeat: no-repeat;
    height: 320px; /*temp*/
    -webkit-mask-image: linear-gradient(black 60%, transparent);
    mask-image: linear-gradient(black 60%, transparent);
}

#sm-campaign-title{
    margin-top: -100px;
}

.title{
    font-weight: 700;
    font-size: 60pt;
    margin: 60px 0 0 0;
}

.subtitle{
    font-size: 24pt;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-self: flex-end;
}

.description{
    font-size: 12pt;
    margin: 30px 30px;
    color: black;
    font-weight: normal;
}

.foot-bg{ background-image: url(../img/footer_section.png);}

.table_foot_section{
    padding: 0px 30px;
}

.table_foot_section ul{
    padding: 0 auto;
    padding-top: 20px;
}

.table_foot_section ul h2{
    color: #FFECD5;
    font-size: 12pt;
    font-weight: bold;
    line-height: 20px;
    text-align: end;
}

.table_foot_section ul li{
    font-size: 10pt;
    display: block;
    text-align: end;
}

.table_foot_section ul li a{
    color: #FFECD5;
    line-height: 20px;
}

footer{
    height: 50px;
    background-color: black;
}

footer p{
    font-size: 6pt;
    color: #FFECD5;
    margin: 0 10px 0 0;
}

.foot_button{
    padding: 0 10px;
}

.foot_button img{
    width: 25px;
    height: 25px;
}

#line {
    width: 100%;
    height: 15px;
    position: relative;
}

@media (min-width: 768px){
    .subscribe_us{
        display: block;
    }

    .poster{
        display: none!important;
        background-image: url(../img/top_poster1.png);
    }

    #carousel-poster{
        display: flex!important;
    }

    .carousel-control-next-icon {
        background-image: url(../img/arrow_right.png) !important;
        height: 40px!important;
        width: 40px!important;
        margin-left: 80px;
    }

    .carousel-control-prev-icon{
        background-image: url(../img/arrow_left.png) !important;
        height: 40px!important;
        width: 40px!important;
        margin-right: 80px;
    }

    .carousel-indicators li {
        margin-left: 15px;
        margin-right: 15px;
        border: 2px white solid;
        border-radius: 16px;
        opacity: 90%;
    }

    .carousel-indicators .active {
        margin-left: 15px;
        margin-right: 15px;
        background-color: #8e642d;
        border: 2px white solid;
        border-radius: 16px;
    }

    #line {
        width: 225px;
        height: auto;
        position: absolute;
    }

    .poster{
        height: 500px;
    }

    .arrow_down{
        display: none;
    }

    .box_2nd_section{
        height: 180px;
    }

    #sm-campaign-title{
        display: none;
    }

    #md-campaign-title{
        display: block;
    }
}

@media (min-width: 990px){
    
    .nav-item{
        border-left: 1px white solid;
        padding: 0 12px;
    }
    
    .navbar-collapse ul{
        border-right: 1px white solid;
    }

    #line {
        width: 300px;
    }

    .nav-icon{
        display: flex;
    }
}

/*Css below belong to hamburger icon*/
/*Icon 1*/

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #e65100;
    }
    
    .animated-icon2 span {
    background: #e3f2fd;
    }
    
    .animated-icon3 span {
    background: #f3e5f5;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    
    /* Icon 3*/
    
    .animated-icon2 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
    }
    
    .animated-icon2 span:nth-child(4) {
    top: 20px;
    }
    
    .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    /* Icon 4 */
    
    .animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    }
    
    .animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    }
    
    .animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    }
    /*hamburger icon end*/